html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

#app {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
