html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    font-family: 'Segoe UI', sans-serif;
    grid-template-rows: 0fr auto 0fr;
}
select,
button,
input {
    font-family: 'Segoe UI', sans-serif;
}

header {
    border-bottom: 1px solid #ccc;
    font-size: smaller;
    padding: 5px 1em;
}

footer {
    border-top: 1px solid #ccc;
    font-size: smaller;
    padding: 5px 1em;
}
