<header>
    <div class="tsd-page-title">
        <div class="typedoc-container">
            {{#if model.parent}} {{! Don't show breadcrumbs on main project page, it is the root page. !}}
                <ul class="tsd-breadcrumb">
                    {{#with model}}{{> breadcrumb}}{{/with}}
                </ul>
            {{/if}}
            {{#if model.parent}}
            <h1>{{#compact}}
                {{#ifCond model.kindString "!==" "Project" }}
                    {{model.kindString}}&nbsp;
                {{/ifCond}}
                {{model.name}}
                {{#if model.typeParameters}}
                    &lt;
                    {{#each model.typeParameters}}
                        {{#if @index}},&nbsp;{{/if}}
                        {{name}}
                    {{/each}}
                    &gt;
                {{/if}}
            {{/compact}}</h1>
            {{/if}}
        </div>
    </div>
</header>
