body {
    font-family: 'Segoe UI', sans-serif;
}

#vis { 
    position: absolute;
    bottom: 0;
    top: 5em;
    left: 1em;
    right: 0;
}
.sanddance-gl { 
    right: 290px;
}
.sanddance-panel {
    width: 250px;
}
.vega-bind-name {
    display: block;
}